.section-profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}

.div-cover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid red;
	width: 100%;
}

.img-profile {
	border-radius: 100%;
	height: 100px;
	width: 100px;
}
